/* ------------------- Animations ------------------- */

.burger-container {
  gap: 0.5rem;
}

.burger-container:hover {
  transform: scale(0.9);
  cursor: pointer;
  transition: 0.5s ease;
}

.burger-container:not(:hover) {
  transform: scale(1);
  cursor: pointer;
  transition: 0.5s ease;
}

/* ------------------- Others ------------------- */

.burger-container span {
  background-color: var(--black);
  border-radius: 999px;
  width: 2rem;
  height: 0.2rem;
}
