/* ------------------- Responsive ------------------- */

@media screen and (max-width: 700px) {
  .container-profile-picture {
    position: absolute;
    top: 0px;
    right: 5vw;
    width: 100px;
    height: 100px;
  }
  .container-informations h1 {
    font-size: 34px;
    width: min-content;
  }
  .container-about-page {
    margin-top: 4.5rem;
  }
  .container-informations {
    width: 100%;
  }
  .container-descriptions p {
    width: calc(100vw - 20vw);
    font-size: 18px;
  }
  .profile-picture {
    width: 40vw;
    max-width: 200px;
    object-fit: contain;
  }
}

@media screen and (min-width: 701px) and (max-width: 1200px) {
  .container-profile-picture {
    width: 250px;
    height: 250px;
  }
  .container-informations h1 {
    font-size: 34px;
  }
  .container-about-page {
    margin-top: 4.5rem;
  }

  .container-descriptions p {
    font-size: 18px;
  }
  .profile-picture {
    width: 50vw;
    max-width: 750px;
    object-fit: contain;
  }
}

@media screen and (min-width: 1201px) {
  .container-profile-picture {
    max-width: 400px;
    max-height: 400px;
    width: 28vw;
    height: 28vw;
  }

  .container-informations h1 {
    font-size: 64px;
  }
  .container-about-page {
    margin-top: 6.5rem;
  }
  .container-informations .container-descriptions p {
    font-size: 24px;
  }
  .profile-picture {
    width: 50vw;
    max-width: 750px;
    object-fit: contain;
  }
}

/* ------------------- Containers ------------------- */

.container-global-about {
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.container-about-page {
  position: relative;
  width: 100vw;
  justify-content: space-between;
}

.container-about-page .container-informations {
  gap: 2rem;
}

.container-informations .container-descriptions {
  gap: 1rem;
  max-width: 40vw;
}

.container-profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darker-primary-color);
  border-radius: 999px;
  box-shadow: 0px 0px 32px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.container-about-page .contact-button {
  gap: 1rem;
  align-items: center;
  width: fit-content;
}

.container-about-page .contact-button:hover {
  cursor: pointer;
}

/* ------------------- Texts ------------------- */

.container-informations h1 {
  font-family: "PlayFair Display", sans-serif;
  font-weight: 900;
}

/* ------------------- Others ------------------- */

.container-about-page .contact-button .contact-link {
  color: var(--black);
  font-weight: 700;
  font-size: 18px;
}

.contact-button img {
  width: 2rem;
  object-fit: contain;
}

.contact-button:hover img {
  transform: translateX(0.5rem);
  transition: 1s ease;
}

.contact-button:not(:hover) img {
  transform: translateX(0rem);
  transition: 1s ease;
}
