@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.column-container {
  display: flex;
  flex-direction: column;
}

:root {
}

body {
  padding: 0;
  margin: 0;
  font-family: 'League Spartan',sans-serif;
}

html {
  scroll-behavior: smooth;
}
